<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="testMode" value="SQLite"/>
    <!--需要烘烤的时间，单位是秒，43200秒=12小时-->
    <add key="ovenTime" value="43200"/>
    <!--页面刷新时间-->
    <add key="refreshTime" value="1"/>
    <!--UI-->
    <add key="ovenLeftName" value="Oven1"/>
    <add key="ovenLeftLocation" value="10,10"/>
    <add key="ovenLeftSize" value="500,650"/>
    <add key="ovenLeftRow" value="8"/>
    <add key="ovenLeftColumn" value="8"/>

    <add key="ovenRightName" value="Oven2"/>
    <add key="ovenRightLocation" value="520,10"/>
    <add key="ovenRightSize" value="700,500"/>
    <add key="ovenRightRow" value="5"/>
    <add key="ovenRightColumn" value="12"/>

    <add key="runningStateText" value="Line1"/>
    <add key="runningStateFontSize" value="80"/>
  </appSettings>
</configuration>