<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <!--需要烘烤的时间，单位是秒，43200秒=12小时-->
    <add key="ovenTime" value="5"/>
    <!--页面刷新时间-->
    <add key="refreshTime" value="5"/>
  </appSettings>
</configuration>