<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="testMode" value="SQLite"/>
    <!--需要烘烤的时间，单位是秒，43200秒=12小时-->
    <add key="ovenTime" value="43200"/>
    <!--页面刷新时间-->
    <add key="refreshTime" value="1"/>
    <!--UI-->
    <add key="oven1Location" value="10,10"/>
    <add key="oven1Size" value="500,650"/>
    <add key="oven1Row" value="8"/>
    <add key="oven1Column" value="8"/>

    <add key="oven2Location" value="520,10"/>
    <add key="oven2Size" value="700,500"/>
    <add key="oven2Row" value="5"/>
    <add key="oven2Column" value="12"/>
  </appSettings>
</configuration>